
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-l
    RewriteRule ^.*$ / [L,QSA]
</IfModule>

# 1. Copy this file in your website's root directory.
# 2. Edit /etc/httpd/conf/httpd.conf so that in section <Directory "/var/www/html">, the option AllowOverride will be set from "None" to "All".

